  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">NameTaggle</h5>
          <p class="grey-text text-lighten-4">W. Brandon Martin developed NameTaggle to help organizations connect and engage their members.  He is a freelance developer and information security craftsman.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Reference</h5>
          <ul>
            <li><a class="white-text" href="/privacypolicy">Privacy</a></li>
            <li><a class="white-text" href="/support">Support</a></li>
            <li><a class="white-text" href="/pricing">Pricing</a></li>
            <li><a class="white-text" href="/ref/eula.html">End-User License Agreement</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Organizations</h5>
          <ul>
            <li><a class="white-text" href="#!">Religious Organizations</a></li>
            <li><a class="white-text" href="#!">Home Owners Groups</a></li>
            <li><a class="white-text" href="#!">Businesses</a></li>
            <li><a class="white-text" href="#!">Civic Organizations</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div>
                Provided by: <a target="_blank" class="red-text text-lighten-3" href="https://deconsec.com">Deconstructed Security, LLC</a>
                <span style="text-align: right; float: right">
                Copyright © 2019 Deconstructed Security.  Website based on the work of <a href="http://www.panoramedia.it" class="red-text text-lighten-3">Marco Damiani</a>
                </span>
            </div>
        </div>
    </div>
</footer>
