---
layout: default
title: home
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center black-text perm-marker">NameTaggle</h1>
      <div class="row center">
        <h5 class="header col s12 light">A new way to remember, connect and engage</h5>
      </div>


      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">how_to_reg</i></h2>
            <h5 class="center">Remember.</h5>

            <p class="light">Have you ever forgotten someone’s name and know it is  past the point of politeness to ask them again? Embarrassing and yet it happens to all of us. NameTaggle started as simple church pictorial directory aimed at helping people remember each other, but then we realized the need to remember is everywhere. Think about the person who sits behind you in church, the receptionist you only see occasionally, or the spouse of a coworker you see once a year at the holiday party. NameTaggles helps you remember names and contact information with just a few taps on your phone.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Connect.</h5>

            <p class="light">Connecting with people in 2020 is tricky, but now that you remember names and faces, Nametaggle provides tools to connect with people in your organization who share similar interests. With multiple social media and messaging platforms, people are overwhelmed by the constant barrage of messages and notifications. Why add more noise? Ours is not an app to share food pics or political thoughts and will not interrupt your day because someone you know liked or commented. Nametaggle is a place to interact with people and receive only information pertinent to you without pesky ads, likes or other social media pressures. Think of NameTaggle as social media for people who are tired of social media.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><i class="material-icons">thumb_up</i></h2>
            <h5 class="center">Engage.</h5>

            <p class="light">Have you ever searched for an item online and the next day it appears in the ads on your social media feeds? Or have you expressed interest in an organization only to be bombarded by extraneous information on a daily basis? Nametaggle helps you engage with an organization and receive only the targeted information you desire. Within an organization you can sign up to receive notifications only from the groups you are interested in. Group leaders can engage members with instant information while maintaining user privacy.</p>
          </div>
        </div>
      </div>

    </div>

    </div>

    <div >
      <section>
        <h2 class="header center black-text perm-marker">Testimonials</h2>
      </section>

    </div>
  <!--
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>
 -->

  </div>
