---
layout: default
title: home
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <!--
      <h1 class="header center black-text perm-marker">NameTaggle</h1>
    -->
    <div style="text-align: center" >
    <img src="./assets/NameTaggle.png" height="75%" width="75%">
    </div>
      <div class="row center">
        <h5 class="header col s12 light">A new way to remember, connect and engage.</h5>
      </div>


      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><img src="./assets/remember.svg" height="50%" width="50%"></h2>
            <h5 class="center">Remember.</h5>

            <p class="light">Have you ever forgotten someone’s name? Think about the person who sits behind you in church, the receptionist you see occasionally, or the coworker’s spouse you see once a year at the holiday party. NameTaggle helps you remember names and contact information with just a few taps on your phone. </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><img src="./assets/connect.svg" height="50%" width="50%"></h2>
            <h5 class="center">Connect.</h5>

            <p class="light">Once you remember names and faces it is time to connect with others through our “Groups” feature. By joining only the groups within your organization that interest you, NameTaggle helps you interact with people and receive information pertinent to you without pesky ads, likes or other social media pressures.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center red-text"><img src="./assets/engage.svg" height="50%" width="50%"></h2>
            <h5 class="center">Engage.</h5>

            <p class="light">NameTaggle helps you filter the noise and engage with the parts of your organization that interest you. Instead of being inundated with messages and alerts, Nametaggle allows targeted notifications so you only hear from the groups with which you have already connected.  Our Daily Digest provides the option for receiving notifications once a day, when you are ready.</p>
          </div>
        </div>
      </div>

    </div>

    </div>
  <!--
    <div >

      <section>
        <h2 class="header center black-text perm-marker">Testimonials</h2>
      </section>


    </div>

      -->


  <!--
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Latest Post</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>
    </section>
    </div>
</div>
 -->

  </div>
